<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <h1>HELLO!!!</h1>
    <div ng-controller="myController">
            {{firstname}}
            {{lastname}}
           <p>original :{{fullname()}}</p> 
           <p>after custom filter: {{fullname_love()}}</p>
           <input type="text" ng-model="firstname">
           <input type="text" ng-model="lastname">
           <input type="text" ng-model="firstname" ng-blur="upper();">
           <p>Fav color:</p>
           <div> 
           <input type="text" style="background-color:{{color}}"  ng-model="color">
           </div>
         
    </div>
       
</body>
</html>